<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>찾아줘 Cat Dog: 내 동물 사진 올리기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>

<body>
<!-- navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">찾아주CatDog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="find_my_dog_q.html">우리 반려동물 찾기<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">관심 반려동물 찾기</a>
            </li>
        </ul>
        <span class="navbar-text">
      <a class="nav-link" href="#">About us</a>
    </span>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <!-- dropdown: 수정 후 재구현 예정-->
        </div>
    </div>
    <div class="row justify-content-md-center">
        <form method="POST" enctype = "multipart/form-data">
            <div class="form-row">
                <!-- 파일 업로드 -->
                <div class="col-auto">
                    <input name="file" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <!-- 지역 선택 -->
                <div class="col-auto">
                    <select name="location" class="form-control" id="exampleFormControlSelect1">
                        <option value="서울">서울</option>
                        <option value="부산">부산</option>
                        <option value="대구">대구</option>
                        <option value="인천">인천</option>
                        <option value="광주">광주</option>
                        <option value="대전">대전</option>
                        <option value="울산">울산</option>
                        <option value="세종">세종</option>
                        <option value="경기">경기</option>
                        <option value="강원">강원</option>
                        <option value="충북">충북</option>
                        <option value="충남">충남</option>
                        <option value="전북">전북</option>
                        <option value="전남">전남</option>
                        <option value="경북">경북</option>
                        <option value="경남">경남</option>
                        <option value="제주">제주</option>
                    </select>
                </div>
                <!-- 실종일자 선택 -->
                <div class="col-auto">
                    <input name="date" class="form-control" type="date" id="example-date-input">
                </div>
                <!-- 강아지/고양이 선택 -->
                <div class="col-auto">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="animal" id="dog" value="dog"><i
                            class="fas fa-dog"></i>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="animal" id="cat" value="cat">
                        <i class="fas fa-cat"></i>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-light">검색 <i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>